<component name="ArtifactManager">
  <artifact type="war" name="spring-boot-quartz:war">
    <output-path>$PROJECT_DIR$/spring-boot-quartz/target</output-path>
    <root id="archive" name="spring-boot-quartz.war">
      <element id="artifact" artifact-name="spring-boot-quartz:war exploded" />
    </root>
  </artifact>
</component>