<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-boot-activemq-producer:war exploded">
    <output-path>$PROJECT_DIR$/spring-boot-activemq-producer/target/spring-boot-activemq-producer</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-boot-activemq-producer" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-jms:4.3.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:4.3.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:4.3.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:4.3.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:4.3.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:4.3.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-messaging:4.3.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:4.3.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.apache.activemq:activemq-client:5.13.4" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.21" />
          <element id="library" level="project" name="Maven: org.apache.geronimo.specs:geronimo-jms_1.1_spec:1.1.1" />
          <element id="library" level="project" name="Maven: org.fusesource.hawtbuf:hawtbuf:1.11" />
          <element id="library" level="project" name="Maven: org.apache.geronimo.specs:geronimo-j2ee-management_1.1_spec:1.0.1" />
          <element id="library" level="project" name="Maven: org.apache.activemq:activemq-spring:5.13.4" />
          <element id="library" level="project" name="Maven: org.apache.xbean:xbean-spring:3.18" />
          <element id="library" level="project" name="Maven: org.apache.activemq:activemq-broker:5.13.4" />
          <element id="library" level="project" name="Maven: org.apache.activemq:activemq-openwire-legacy:5.13.4" />
          <element id="library" level="project" name="Maven: org.apache.activemq:activemq-pool:5.13.4" />
          <element id="library" level="project" name="Maven: org.apache.activemq:activemq-jms-pool:5.13.4" />
          <element id="library" level="project" name="Maven: org.apache.geronimo.specs:geronimo-jta_1.0.1B_spec:1.0.1" />
          <element id="library" level="project" name="Maven: org.apache.commons:commons-pool2:2.4.2" />
          <element id="library" level="project" name="Maven: com.google.guava:guava:19.0" />
          <element id="library" level="project" name="Maven: com.alibaba:fastjson:1.2.12" />
          <element id="library" level="project" name="Maven: org.apache.commons:commons-lang3:3.2.1" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-cache:1.4.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context-support:4.3.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-actuator:1.4.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-actuator:1.4.1.RELEASE" />
          <element id="library" level="project" name="Maven: net.sf.ehcache:ehcache:2.10.2.2.21" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter:1.4.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot:1.4.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-autoconfigure:1.4.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.yaml:snakeyaml:1.17" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-web:1.4.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.hibernate:hibernate-validator:5.2.4.Final" />
          <element id="library" level="project" name="Maven: javax.validation:validation-api:1.1.0.Final" />
          <element id="library" level="project" name="Maven: org.jboss.logging:jboss-logging:3.3.0.Final" />
          <element id="library" level="project" name="Maven: com.fasterxml:classmate:1.3.1" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-databind:2.8.3" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-annotations:2.8.3" />
          <element id="library" level="project" name="Maven: com.fasterxml.jackson.core:jackson-core:2.8.3" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:4.3.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:4.3.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.data:spring-data-commons:1.12.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.slf4j:jcl-over-slf4j:1.7.21" />
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-log4j2:1.4.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.apache.logging.log4j:log4j-slf4j-impl:2.6.2" />
          <element id="library" level="project" name="Maven: org.apache.logging.log4j:log4j-api:2.6.2" />
          <element id="library" level="project" name="Maven: org.apache.logging.log4j:log4j-core:2.6.2" />
          <element id="library" level="project" name="Maven: org.slf4j:jul-to-slf4j:1.7.21" />
          <element id="library" level="project" name="Maven: com.lmax:disruptor:3.3.4" />
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring-boot-activemq-producer/target/spring-boot-activemq-producer/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-boot-activemq-producer/web/Web" />
    </root>
  </artifact>
</component>